In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
data = yf.Ticker("MSFT")

In [8]:
data.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054485,0.062498,0.054485,0.059827,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.059827,0.063032,0.059827,0.061963,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.061963,0.063566,0.061963,0.063032,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.063032,0.063566,0.060895,0.061429,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061429,0.061963,0.059827,0.060361,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-13 00:00:00-05:00,448.440002,451.429993,445.579987,447.269989,20177800,0.0,0.0
2024-12-16 00:00:00-05:00,447.269989,452.179993,445.279999,451.589996,23598800,0.0,0.0
2024-12-17 00:00:00-05:00,451.010010,455.290009,449.570007,454.459991,22733500,0.0,0.0
2024-12-18 00:00:00-05:00,451.320007,452.649994,437.019989,437.390015,24444500,0.0,0.0
2024-12-19 00:00:00-05:00,441.619995,443.183411,436.329987,437.029999,21207330,0.0,0.0

In [4]:
company_name = data.info['shortName']
company_ticker = data.info['symbol']
current_price = data.info['currentPrice']
yesterday_close = data.info['previousClose']
today_growth = ((current_price/yesterday_close) - 1) * 100

In [5]:
print(f"{company_name}, {company_name}, {current_price}, {yesterday_close}, {today_growth:.4f}")

Microsoft Corporation, Microsoft Corporation, 437.03, 437.39, -0.0823